#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  display: grid;
  grid-template-columns: 1f 5fr;
  grid-template-rows: repeat(3, 1fr);
  align-items: center;
  gap: 20px;
}

.display {
  grid-row: 1 / -1;
  grid-column: 2 / 3;
}

.input-info {
  display: grid;
  grid-template-rows: repeat(auto-fill, 1fr);
}

.personal-input h1,
.edu h1,
.exp h1 {
  font-size: 30px;
}
